@charset "utf-8";
img {
    border-radius: 10%;
    float: right;
    margin: 1em;
    border: 2px solid black;
       
   }
body { 
background-color: rgba(255, 255, 255, 0.699);
max-width: 850px;
    margin: auto;
    border-radius: 1em;
}
header {
background-color: rgba(184, 101, 218, 0.842);
border-radius: 50px 50px 0px 0px;
font-size: 20px;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;


}
h1 {
    color: white;
    font-family: 'Yeseva One', cursive;
}

footer{
  color: white;
  background-color: rgba(184, 101, 218, 0.842);
  text-align: center;
  border-radius: 0px 0px 50px 50px;
  font-size: 16px;
}
.contact-info{
  float: right;
}
.assign-info{
  background-color: rgb(78, 78, 78);
  font-size: 14px;
  font-family: 'Open Sans Condensed', sans-serif;
  
}
h2{
  color: white;
  text-align: center;
}
.assign-links{
  color: white;
  text-align: center;
  padding: 1em;
  font-size:20px;
  font-family: 'Open Sans Condensed', sans-serif;
  
}
.time-update{
  color:  rgb(78, 78, 78);
}
a { color:rgb(216, 253, 8); }
h1{ text-align: center;}
ul{ list-style-type: none; }
#credit {
  text-align: right;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');