/* For desktop: */
@media only screen and (min-width: 992px) {

footer{
    text-align: left;
}
.scootsheader h1 h4{
    display: flex;
    text-align: left;
}
.rental-info table{
    margin: 0 auto;
}
.hero-img{
    margin: auto;
    width: 100%;
}
.rental-info{
    margin: auto;
}
#funthings img{
    justify-content: right;
    }
    .rental_info{
        font-family: 'Nanum Gothic', sans-serif;
        padding:1em;
        max-width: 80%;
        margin: auto;
      }
      div.cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .5em;
    }
    img{
        position: relative;
    }
    
 
}