
.scootsheader h1{
    font-family: 'Pacifico', cursive;

    }
    footer{
      text-align: left;
     
      
      padding: 1em;
      font-size: 20px;
     margin: 0 auto;
      
    }
    nav {
      margin: 0 auto;
      background-color: #6CC431 ;;
      padding: 0;
      max-width: 100%;
  
      }

      .navigation {
        list-style: none;
        padding: 10px;
        max-width: 100%;
        }
        .navigation li:first-child {
        display: block;
      
        }
        .navigation li {
        display: none;
        }
        .navigation a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: black;
        font-size: 16px;
        font-weight: 700;
        max-width: 100%;
        }
        .navigation a:hover {
        color:#F03A47;
        background-color: #8DD65C;
        }

        .responsive li {
        display: block;
        }

        nav ul{
          font-family: 'Archivo', sans-serif;
        max-width: 100%;
        text-align: center;
       
      }
        .active {
          background-color: #8DD65C;
           
        } 
        nav a:hover{
        max-width: 100%;}
    h1{
        font-family: 'Nanum Gothic', sans-serif;
 
    }
    h2{
        font-family: 'Nanum Gothic', sans-serif;
    }
    h3{
        font-family: 'Nanum Gothic', sans-serif;
    }

    h4{
        font-family: 'Nanum Gothic', sans-serif;
    }
    p{
        font-family: 'Nanum Gothic', sans-serif;
    }

  
  footer{
    font-family: 'Nanum Gothic', sans-serif;
  }
  #googlemaps{
    overflow: hidden;
  }
  header{
      background-color: #F6F1A2;

  }
  main{
    background-color: #B2E6E6;
  }
  footer{
    background-color: #F6F1A2;
  }

