
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:#F03A47;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  font-family: 'Nanum Gothic', sans-serif
}
#big-banner
{
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
  padding: 1em;
  font-size: 25px;
  background-color: #6CC431;
  color: white;
  border: 7px solid;
  border-radius: 50px;
  margin: auto;
  max-width: 70%;
}
main{
max-width: 80%;
margin: auto;
}
.hero-img{
  width: 100%;
  padding: 1em; 
}
#myBtn:hover {
  background-color: #555;
}
.scootsheader h1{
    font-family: 'Pacifico', cursive;
    text-shadow: 0px 8px 4px #B2E6E6;
    font-size: 70px;
   
    }
    .scootsheader h4 {
      font-family: 'Nanum Gothic', sans-serif;
      color:black ;
      text-shadow:0px 8px 4px #B2E6E6;
      font-size: 30px;
    }
    footer{
      text-align: left;
    max-width: 80%;
      padding: 1em;
      
      font-size: 20px;
     margin: 0 auto;
      
    }

    header{
      text-align: center;
      font-size: 25px;
      padding: 1em;
      max-width: 100%;
      background-color: #F6F1A2;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    
      
      }
    nav {
      margin: 0 auto;
      background-color: #6CC431;
     
      max-width: 100%;
  
      }

      .navigation {
        list-style: none;
        padding: 10px;
        max-width: 100%;
        }
        .navigation li:first-child {
        display: block;
      
        }
        .navigation li {
        display: none;
        }
        .navigation a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: black;
        font-size: 16px;
        font-weight: 700;
        max-width: 100%;
        }
        .navigation a:hover {
        color:#F03A47;
        background-color: #8DD65C;
        }

        .responsive li {
        display: block;
        }

        nav ul{
          font-family: 'Archivo', sans-serif;
        max-width: 100%;
        text-align: center;
       
      }
        .active {
          background-color: #8DD65C;
           
        } 
        nav a:hover{
        max-width: 100%;}

        .rental-info{
          border: 5px solid white;
          background-color: #B2E6E6;
          padding: 1em;
          font-family: 'Nanum Gothic', sans-serif;
          font-size: 17px;
          text-align: center;
          margin: 0 auto;


        }
        .rental-info {
          position: absolute;
        }
        .herodiv {
          margin: 10px auto;
          position: relative;
          display: block;
          width: 800px;
          height: 200px;
      }
      .hero-ph {
        margin: 10px auto;
        width: 100%;
        display: flex;
    }
    #weather_img{
      max-width: 100%;
      margin: 0 auto;
      }
  .weather_table {
      margin: 1em 2em;
      padding-bottom: 1em;
  }
  .weathersummary {
    position: absolute;
    top: 12px;
    left: 50px;
    background: radial-gradient(#eee, #A27CA2 );
  
    padding: 1em;
    box-shadow: 0 0 30px #111;

}
        .rental-info h1{
          text-align: center;
        }
        
        .weather-info h1{
          text-align: right;
          padding: 2%;
        }
      .rental-info,
       th{
        position: block;
        border: 4px solid black;
        padding: 1em;
        
      }

 
      .forecast {
        padding: 1em;
        margin: auto;
        max-width: 90%;
        position: relative;
    }

    
  #five_day {
    display: flex;
    text-align: center;
    padding: 1em;
    
    justify-content: center;
    
    list-style: none;
    padding: 1em;
    
}
.forecast ul li {
    flex: 1 1 auto;
    border: 1px solid black;
    background-color:  #A27CA2;
    color: white;
    font-family: 'Arvo', serif;
}

    h1{
        font-family: 'Nanum Gothic', sans-serif;
 
    }
    h2{
        font-family: 'Nanum Gothic', sans-serif;
    }
    h3{
        font-family: 'Nanum Gothic', sans-serif;
    }

    h4{
        font-family: 'Nanum Gothic', sans-serif;
    }
    p{
        font-family: 'Nanum Gothic', sans-serif;
    }

  
  footer{
    font-family: 'Nanum Gothic', sans-serif;
    padding: 1em;
    display: block;
    background-color: #F6F1A2;
  }
  #googlemaps{
    overflow: hidden;
  }
  #contact{
    text-align: center;
    justify-content: right;
    display: block;
   
}

body{
  background-color: #74D2D2 ;
  max-width: 100%;
    margin: 0;
    border-radius: 1em;
    display: block;
    border-radius: 1em;
}
footer, #social_media {

  margin: auto;
}
main,
footer,
#social_media {
    max-width: 80%;
    margin: auto;
}
article{
  text-align: left;
  background-color: #B2E6E6 ;
  display: block;
  padding: 1em;
  margin: auto;
  max-width: 80%;
font-size: 30px;
position: relative;


margin-bottom: 1em;
overflow: hidden;


}
article img {
  margin-right: auto;
padding-left: .5em;
padding-bottom: .5em;

}
article h1{
  text-align: center;
}
