body{
    background-color: rgb(214, 244, 255);
    max-width: 100%;
    margin: 0;
    border-radius: 1em;
    display: block;
    
    
    }
    #big-banner{
        text-align: center;
        background-color:  rgb(193, 132, 197) ;
        color: black;
        font-family: 'Arvo', serif;
        border-radius: 80%;
        display: none;
        padding: 1em;
        font-size: 18px;
    }
    div {
        display: block;
    }
    header{
    text-align: center;
    font-size: 25px;
    padding: 1em;
    background-color:  rgb(57, 89, 148);
    font-family: 'Fugaz One', cursive;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em;
    
    }
    footer{
    
    text-align: center;
    color: rgb(214, 244, 255);
    font-size: 17px;
    background-color:  rgb(57, 89, 148);
    padding: 1%;
    font-size: 20px;
    margin: 0;
    
    }
    nav {
        margin: 0 auto;
        max-width: 760px;
        background-color: rgb(193, 132, 197);
        padding: 0;
        font-weight: bold;
        text-align: center;
        max-width: 100%;
        
        font-size: 80%;
        }
        h4{
            color: rgb(193, 132, 197);
            font-size: 25px;
            -webkit-text-stroke: .3px #282828;
            text-shadow: 0px 8px 4px #282828;
            
         
        }
        .navigation {
            list-style: none;
            padding: 0;
            max-width: 100%;
            }
            .navigation li:first-child {
            display: block;
            }
            .navigation li {
            display: none;
            }
            .navigation a {
            display: block;
            padding: 0.75rem;
            text-align: left;
            text-decoration: none;
            color: black;
            font-weight: 700;
            max-width: 100%;
            }
            .navigation a:hover {
            color: white;
            background-color: black;
            color: rgb(254, 234, 0);
            background-color: rgb(153, 104, 156);
            }
            .responsive li {
            display: block;
            }
            nav ul{font-family: 'Arvo', serif;
            max-width: 100%;}
            .active {
                background-color: rgb(153, 104, 156); color: #fff;
            } 
            nav a:hover{font-family: 'Arvo', serif;
            max-width: 100%;}
            
            p,h3{
            font-family: 'Arvo', serif;
            }
            
            h1{font-family: 'Oswald', sans-serif;
            text-align: center;}
           
            picture{
                justify-items: center;
               
    border-radius: 20px;
    box-shadow: 4px 4px 5px 1px grey;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
            
            html {
                display: block;
            }
            
            
        figcaption {
            display: block;
            padding: 0.9em;
            font: 1em IBM Plex Serif;
            text-align: center;
}
   .active {
    background-color: rgb(153, 104, 156); color: #fff;
}      
    @media only screen and (min-width: 35em) {
        nav {
        display: block;
        }
        .navigation {
        display: flex;
        }
        .navigation li {
        display: block; 
        flex: 1 1 auto;
        }
        .navigation a {
        text-align: center;
        }
        .navigation li:first-child {
        display: none;
        }
        button {
            display: none;
        }
        header {
            display: flex;
        }
    }
