
body{
background-color: rgb(63, 98, 163);
max-width: 100%;
margin: 0;
border-radius: 1em;
display: block;


}
#big-banner{
    text-align: center;
    background-color:  rgb(193, 132, 197) ;
    color: black;
    font-family: 'Arvo', serif;
    border-radius: 80%;
    display: none;
    padding: 1em;
    font-size: 18px;
}
div {
    display: block;
}
header{
text-align: center;
font-size: 25px;
padding: 1em;
background-color: rgb(214, 244, 255);
font-family: 'Fugaz One', cursive;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
padding: .5em;

}
footer{
background-color: white;
text-align: center;

font-size: 17px;
background-color: rgb(214, 244, 255);
padding: 1%;
font-size: 20px;
margin: 0;

}
main{
padding: 1em;
border-radius: 15%;
margin: 0;
}
nav {
margin: 0 auto;
max-width: 760px;
background-color: rgb(193, 132, 197);
padding: 0;
font-weight: bold;
text-align: center;
max-width: 100%;

font-size: 80%;
}
h4{
    color:  rgb(63, 98, 163);
    font-size: 20px;
 
}
.site_name{
font-family: 'Fugaz One', cursive;
}
.navigation {
list-style: none;
padding: 0;
max-width: 100%;
}
.navigation li:first-child {
display: block;
}
.navigation li {
display: none;
}
.navigation a {
display: block;
padding: 0.75rem;
text-align: left;
text-decoration: none;
color: black;
font-weight: 700;
max-width: 100%;
}
.navigation a:hover {
color: white;
background-color: black;
color: rgb(254, 234, 0);
background-color: rgb(153, 104, 156);
}
.responsive li {
display: block;
}
nav ul{font-family: 'Arvo', serif;
max-width: 100%;}
.active {
    background-color: rgb(153, 104, 156); color: #fff;
} 
nav a:hover{font-family: 'Arvo', serif;
max-width: 100%;}

p,h3{
font-family: 'Arvo', serif;
}
h1{font-family: 'Oswald', sans-serif;
    background-color:rgb(214, 244, 255);

}

#forecast{
 
       
        padding: 1em;
        margin: 1em;
     
        padding: 1em;
        
        
}
#article{
    display: flex;
background-color: #fff;
padding: 1em;
margin: 1em;
padding: 1em;
    border: 1pt dashed cyan; 
    background-color: white;


}
#title{ 
color: rgb(214, 244, 255);
}
picture{
width: 200px;
min-width: 100px;
}
div {
    display: block;
}

header, div {
    margin: 1em;
}
.herodiv {
	margin: 10px auto;
	position: relative;

	width: 800px;
	height: 200px;

}


.hero-ph {
	margin: 10px auto;
	border: 1px solid black;
	width: 100%;
    height: 250px;
    display: flex;
}


.weathersummary {
	position: absolute;
	top: 12px;
	left: 50px;
	background: radial-gradient(#eee, #4567aa);
	border: 1px solid #000;
	padding: .5rem;
	box-shadow: 0 0 30px #111;

}

#weather_img{
max-width: 100%;
padding: 0;
margin: 0 auto;

}


#five_day {weather
    display: flex;
    text-align: center;
    padding: 0;
    justify-content: center;
    padding-bottom: 1em;
    list-style: none;
    padding: 1em;
    border: 1pt dashed cyan; 
    background-color: white;

    
}

li {display: list-item;}
p{
    padding: 1em;
}
#contact_info{ background-color: white;
    padding: 5px;
    margin: 0;
    padding: 1em;
    border: 1pt dashed cyan; 
    background-color: white;
    text-align: left;

}
.map{
border: 1pt solid black ;
text-align: right;
display: flex;
}
.social_media {
text-align: right;
}
@media only screen and (min-width: 35em) {
nav {
display: block;
}
.navigation {
display: flex;
}
.navigation li {
display: block; /* change state in small view */
flex: 1 1 auto;
}
.navigation a {
text-align: center;
}
.navigation li:first-child {
display: none;
}
button {
    display: none;
}
.home {display: none;}
main, footer, #social_media {
    max-width: 80%;
    margin: auto;
}
header {
    display: flex;
}
h1 {
    display: inline;
}

}
